.App {
  text-align: center;
  background-color: #282c34;
}

:root {
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  --outline-hover: .2rem solid var(--black);

}

.heading{
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.heading span{
  background: var(--orange);
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

.box-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.box {
  padding: 3rem 2rem;
  background: #fff;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.box:hover {
  outline: var(--outline-hover);
  outline-offset: 0rem;
}

.box img {
  max-width: 40rem;
  margin: 1rem 0;
  height: 25rem;
}

.box h3 {
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}

.box p {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--black);
  padding: 1rem 0;
}

.box .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.box .btn:hover {
  background: var(--orange);
  color: #fff;
}

.rating-stars {
  max-width: 40rem;
  height: 5rem;
}

.header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin-bottom: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}

/* .header .serch-form {
  position: absolute;
  top: 1%;
  right: 0%;
  width: 50rem;
  height: 7rem;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
} */


.header .serch-form input {
  top: 1%;
  right: 0%;
  height: 4rem;
  width: 50rem;
  background: none;
  border-radius: .5rem;
  text-transform: none;
  font-size: 1.2rem;
  color: var(--black);
  padding: 0 1.5rem;
  box-shadow: var(--box-shadow);
}

.header .serch-form p {
  font-size: 1.2rem;
  padding-right: 1.5rem;
  color: var(--black);

}

.add-movie-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: #fff;
}

.add-movie-btn:hover {
  background: var(--orange);
  color: #fff;
}


.Add-Movie-form {
  width: 340px;
  height: 360px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 4px -1px #000;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative
}

.Add-Movie-form .formEntry {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

.Add-Movie-form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

.Add-Movie-form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s
}

.Add-Movie-form button:hover {
  background: #78788c;
  color: #fff
}